.card {
  width: clamp(250px, 30%, 300px);
  border: 1px solid #26ceda;
  border-radius: 16px;
  padding: 16px;
}
.wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: clamp(500px, 90%, 800px);
  height: 500px;
}
.forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 32px;
}
.icon {
  width: 30px;
  height: 30px;
}
.data {
  padding: 24px 24px;
}
.city {
  color: #c9e1e4;
}
