.App {
  text-align: center;
  padding: 0 50px;
  margin: 0 auto;
  color: black;
  font-size: 24px;
  height: auto;
}
html {
  height: 100%;
}
body {
  height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
