.App {
  text-align: center;
  padding: 0 50px;
  margin: 0 auto;
  color: black;
  font-size: 24px;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.red {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}
